.container {
  display: flex;
  align-items: center;
}

.pageName {
  font-size: 24px;
}

.searchBtn {
  @include btn-reset;
  @include square-header-svg-btn;
  margin-right: 10px;
}

.openDropdownMenuBtn {
  @include btn-reset;
  @include square-header-svg-btn;
}