.modalContent {
  width: 600px;
  color: white;
}

.modalMain {
  width: 100%;
  padding: 15px 10px;
}

.sortMethods {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.sortMethod {
  height: 60px;
  display: flex;
  align-items: center;
  border-radius: 30px;
  margin-bottom: 10px;
  cursor: pointer;
  padding-left: 20px;
  font-size: 18px;

  &:last-child {
    margin-bottom: 0;
  }

  &:not(.active):hover {
    background-color: rgba(255, 255, 255, 0.3);
  }
}

.active {
  background-color: #C3E0FF;
  color: black;
}

.checkmarkBox {
  width: 35px;
  height: 35px;
}

.sortMethodLabel {
  margin-left: 20px;
}