.modalContainer {
  width: 600px;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border: 1px solid silver;
  border-radius: 10px;
}

.active {
  display: block;
}