.noteItem {
  width: 800px;
  margin-top: 12px;
  display: flex;
  justify-content: center;
  border: 2.5px solid silver;
  border-radius: 10px;
  background-color: rgb(250, 249, 249);
  cursor: pointer;
  padding: 10px;
}

.editable {
  background: rgba(127, 142, 195, 0.15);
  border: 4px solid rgb(36, 93, 143);
  -webkit-box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  box-sizing: border-box;
}

.noteContent {
  min-height: 60px;
  max-height: 180px;
  width: 100%;
  display: flex;
  flex-direction: column;
  word-break: break-all;
  overflow: hidden;
}

.title {
  font-size: 20px;
  font-weight: 600;
}

.mainText {
  font-size: 18px;
  font-weight: 400;
  ol {
    margin-left: 1.2em;
    padding-left: 1.2em;
  }
}

.editBtn {
  width: 60px;
  height: 60px;
  cursor: pointer;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  img {
    width: 30px;
    height: 30px;
    user-select: none;
  }
}