.editNoteContent {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.leftGroup {
  display: flex;
  align-items: center;
}

.stopEditingBtn {
  @include square-header-svg-btn;
  margin-right: 10px;
}

.selectedNotesCount {
  font-family: var(--main-font);
  font-size: 20px;
}

.editTools {
  display: flex;
  align-items: center;
}

.editNoteBtn {
  @include square-header-svg-btn;
  margin-right: 10px;
}

.inactive {
  opacity: 0.5;
  cursor: default;

  &:hover {
    background: rgba(192, 192, 192, 0.5);
  }
}
