.editTaskContent {
  width: 100%;
  height: 50px;
  background: white;
  border-bottom: 1px solid silver;
  display: flex;
}

.colLeft {
  flex: 1;
  display: flex;
  align-items: center;
}

.stopEditingBtn {
  
}

.selectedTasksCount {
}

.colRight {
  flex: 1;
}

.boldBtn {

}

.cursiveBtn {

}

.openColorModalBtn {
  
}