.editTaskContent {
  width: 100%;
  height: 50px;
  background: white;
  border-bottom: 1px solid silver;
  display: flex;
}

.colLeft {
  flex: 1;
  display: flex;
  align-items: center;
}

.stopEditingBtn {
  background: none;
  border: none;
  cursor: pointer;
  svg {
    fill: gray;
    &:hover {
      fill: black;
    }
  }
}

.selectedTasksCount {
}

.colRight {
  flex: 1;
}

.boldBtn {

}

.cursiveBtn {

}

.openColorModalBtn {
  
}