.defaultContent {
  width: 100%;
  height: 50px;
  background: white;
  border-bottom: 1px solid rgba(192, 192, 192, 0.5);
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.backBtn {
  padding: 8px 16px;
  color: black;
  text-decoration: none;
  background: silver;
  border-radius: 8px;
  margin-right: 10px;
}

.searchInput {
  height: 40px;
  display: flex;
  flex: 1;
  border: 0;
  font-size: 18px;
  &:focus {
    border: none;
    outline: none;
  }
}