.defaultContent {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.backBtn {
  @include btn-reset;
  padding: 8px 16px;
  text-decoration: none;
  background-color: var(--color-hover-block-surface);
  border-radius: 8px;
  margin-right: 10px;
}

.searchInput {
  height: 40px;
  display: flex;
  flex: 1;
  background-color: transparent;
  border: 0;
  font-size: 18px;
  color: inherit;

  &:focus {
    border: none;
    outline: none;
  }
}