.notAuthPagesHeader {
  width: 100%;
  height: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background: #FEFCFF;
  border-bottom: 1px solid rgba(192, 192, 192, 0.5);
}

.authLinks {
  .link {
    text-decoration: none;
    font-size: 20px;
    margin-left: 20px;
    padding: 6px 12px;
    border-radius: 18px;
    transition: background-color 0.2s;
    background: rgb(221, 220, 220);
    color: $light-theme-main-font-color;
  }
  
  .opened {
    background-color: #5596f6;
    box-shadow: 0 0px 10px rgba(85, 150, 246, 0.4);
    color: white;
  }
}