.noteAddingContent {
  width: 600px;
  background: white;
  border: 1px solid silver;
  border-radius: 10px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  padding: 20px 0;

  input {
    width: 90%;
    height: 35px;
    border-radius: 6px;
    border: 1px solid silver;
    padding-left: 4px;
    font-size: 16px;
    &:first-child {
      margin-bottom: 10px;
    }
  }
}
