.notesPageMain {
  display: flex;
  flex: 1;
  position: relative;
  overflow: auto;
  margin-top: var(--header-height);
}

.notes {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 16px 10px;
}

.emptyNotesText {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  color: var(--color-text-interface);
  font-size: 20px;
}