.notesPageMain {
  display: flex;
  justify-content: center;
  flex: 1;
  overflow-y: auto;
}

.notes {
  display: flex;
  flex-direction: column;
}

.emptyNotesText {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: gray;
  font-family: $main-font;
  font-size: 20px;
}