.burgerBtn {
  @include btn-reset;
  min-width: 35px;
  height: 35px;
  border-radius: 6px;
  margin-right: 8px;
  cursor: pointer;
  &:hover {
    background-color: rgba(192, 192, 192, 0.3);
  }
}

.burgerIcon {
  path {
    stroke: var(--color-text-interface);
  }
}

