.notesSearchPageHeader {
  width: 100%;
  height: var(--header-height);
  position: fixed;
  z-index: 100;
  background: var(--color-bg-surface);
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.backBtn {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.searchInput {
  height: 40px;
  display: flex;
  flex: 1;
  border: 0;
  font-size: 18px;
  &:focus {
    border: none;
    outline: none;
  }
}