.modalBackdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0,0,0, 0.5);
    @include flex-center;
}

.modal {
    background: white;
    border: 1px solid silver;
    border-radius: 10px;
}