.modalBackdrop {
  @include flex-center;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 100;
  background: rgba(0,0,0, 0.5);
  padding: 0 10px;
}

.modal {
  max-width: 600px;
  width: 100%;
  background-color: #363636;
  border-radius: 10px;
}  