.actionsPanel {
  width: 100%;
  height: 60px;
  background: white;
  border-top: 1px solid silver;
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 10px;
}

.hasTwoBtn {
  justify-content: space-between;
}

.clearAllNotesBtn {
  width: 150px;
  height: 50px;
  font-size: 24px;
  border-radius: 15px;
  background: rgb(218, 2, 2);
  border: 0;
  color: white;
  cursor: pointer;
}