.TaskInput {
  height: 35px;
  display: flex;
  flex: 1;
  margin-right: 12px;
  font-size: 18px;
  background: transparent;
  border: none;
  border-bottom: 2px solid #363636;
  outline: none;
  font-family: $main-font;
}

.isBold {
  font-weight: 600;
}

.isCursive {
  font-style: italic;
}