.taskItem {
  width: 800px;
  min-height: 60px;
  margin-top: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2.5px solid silver;
  border-radius: 10px;
  background-color: rgb(250, 249, 249);
  padding: 10px;
}

.editable {
  background: rgba(127, 142, 195, 0.15);
  border: 4px solid rgb(36, 93, 143);
  -webkit-box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  box-sizing: border-box;
}

.painted {
  border: 0;
}

.taskContent {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.title {
  font-weight: 600;
}

.mainText {
  font-weight: 400;
}