.taskItem {
  width: 800px;
  height: 60px;
  margin-top: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.editable {
  background: rgba(127, 142, 195, 0.15);
  border: 4px solid rgb(36, 93, 143);
  -webkit-box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  box-sizing: border-box;
}

.taskContent {
  width: 98%;
  display: flex;
  align-items: center;
}

.taskId {
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  margin-right: 12px;
}