.taskItem {
  width: 800px;
  margin-top: 12px;
  &:last-child {
    margin-bottom: 10px;
  }
}

.taskContent {
  display: flex;
  align-items: center;
}

.taskId {
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  margin-right: 12px;
}