.noteAddBtn {
  width: 60px;
  height: 60px;
  position: absolute;
  right: 30px;
  bottom: 30px;
  border: none;
  border-radius: 16px;
  background: #5596f6;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background .15s ease, transform .15s ease;

  &:hover {
    background: #5596f6;
  }

  &:active {
    transform: scale(.95);
  }

  span {
    position: relative;
    width: 20px;
    height: 20px;

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 3px;
      background: #fff;
      transform: translate(-50%, -50%);
      border-radius: 2px;
    }

    &::after {
      height: 100%;
      width: 3px;
    }
  }
}
