.searchNotesBox {
  width: 640px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(192, 192, 192, 0.622);
  border-radius: 40px;
  padding: 0px 20px;
  cursor: pointer;
}

.sortBtns {
  display: flex;
}

.toggleNoteViewBtn {
  height: 25px;
  width: 25px;
  margin-right: 10px;
}

.openSortModalBtn {
  height: 25px;
  width: 25px;
}