.notAuthorizedHeader {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  font-family: $main-font;
  background: #FEFCFF;
  border-bottom: 1px solid silver;
}

.authLinks {
  .link {
    text-decoration: none;
    font-size: 20px;
    margin-left: 20px;
    padding: 6px 12px;
    border-radius: 18px;
    transition: background-color 0.2s;
    background: rgb(221, 220, 220);
    color: #363636;
  }
  
  .opened {
      background-color: #5596f6;
      color: white;
      box-shadow: 0 4px 15px rgba(85, 150, 246, 0.4);
  }
}