.modalHeader {
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
  border-bottom: 1px solid silver;
}

.title {
  flex: 1;
  text-align: center;
}

.closeModalBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  padding-right: 10px;
}
