.modalHeader {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding: 0px 15px;
}

.title {
  padding-left: 4px;
}

.closeModalBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
}
