.content {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.authLinks {
  display: flex;

  .link {
    @include btn-reset;
    @include flex-center;
    width: 90px;
    height: 36px;
    text-decoration: none;
    font-size: 20px;
    margin-left: 20px;
    border-radius: 18px;
    transition: background-color 0.2s;
    transition: color 0.2s;
    background: $btn-bg;
    line-height: 1;
    color: $btn-text-color;
  }

  .opened {
    background-color: $active-btn-bg;
  }
}
