$primary-color: #5596f6;
$text-color: #1c1c1c;
$subtitle-color: #6a6a6a;
$card-line-color: #f0f0f0;

.landingPage {
  font-family: $main-font;
  margin: 0;
  padding: 0;
  color: $text-color;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}