.taskAddModal {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  justify-content: center;
  flex: 1;
  padding: 20px 0;

  input {
    width: 90%;
    height: 35px;
    border-radius: 6px;
    border: 1px solid silver;
    padding-left: 4px;
    font-size: 16px;
  }
}
