.taskAddModal {
  width: 600px;
  background: white;
  border: 1px solid silver;
  border-radius: 10px;
}

.content {
  display: flex;
  justify-content: center;
  flex: 1;
  padding: 20px 0;

  input {
    width: 90%;
    height: 35px;
    border-radius: 6px;
    border: 1px solid silver;
    padding-left: 4px;
    font-size: 16px;
  }
}
