.notesSearchPageMain {
  @include main-base;
  @include flex-center;
}

.searchedNotes {
  max-width: 800px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 16px 10px;
}

.emptyNotesText {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  color: var(--color-text-interface);
  font-size: 20px;
}