.defaultContent {
  width: 100%;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  background: #FEFCFF;
  border-bottom: 1px solid rgba(192, 192, 192, 0.5);
}
.searchTaskInput {
  width: 640px;
  height: 35px;
}

.userNameBtn {
  @include button-reset;
  font-size: 20px;
}