.header {
  width: 100%;
  height: var(--header-height);
  position: fixed;
  z-index: 100;
  background: var(--color-bg-surface);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}