.dropdownMenu {
  width: 200px;
  display: none;
  position: absolute;
  top: 110%;
  right: 0;
  background-color: var(--color-block-surface);
  border-radius: 8px;
  box-shadow: 0px 5px 11px -1px rgba(0, 0, 0, 0.2);
  z-index: 100;
}

.opened {
  display: block;
}