services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: nest-hot-reload-app
    ports:
      - 3000:3000
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
    depends_on:
      postgres:
        condition: service_healthy
    environment:
        DATABASE_URL: postgres://postgres:password@postgres:5432/postgres-db
    command: npm run start:dev
  postgres:
    image: postgres:18-alpine
    container_name: postgres-db
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: postgres-db
    volumes:
      - ./pgdata:/var/lib/postgresql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5