.header {
  @include header-base;
  display: flex;
  justify-content: space-between;
}

.headerBtn {
  @include btn-reset;
  padding: 8px 16px;
  text-decoration: none;
  background-color: var(--color-block-surface);
  border-radius: 8px;
  margin-right: 10px;
  cursor: pointer;
  
  &:hover {
    background-color: var(--color-hover-block-surface);
  }
}
