.defaultContent {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .startContainer {
    flex: 1; 
    display: flex;
    align-items: center;
  }

  .centerContainer {
    height: 100%;
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .endContainer { 
    flex: 1; 
    display: flex;
    justify-content: flex-end; 
  }
}
