.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 0;
  transition: background-color 0.3s ease;
  visibility: hidden;

  &.visible {
    visibility: visible;
    background-color: rgba(0,0,0, 0.5);
    z-index: 1000;
  }

}

