.landingPageMain {
  @include main-base;
  @include flex-center;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 60px;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 20px;
  }
}

.subtitle {
  font-size: 20px;
  margin-bottom: 40px;
}

.button {
  display: inline-block;
  padding: 15px 30px;
  background-color: #5596f6;
  color: white;
  text-decoration: none;
  font-weight: 600;
  border-radius: 8px;
  font-size: 18px;
  transition: background-color 0.2s, box-shadow 0.3s ease-out;
  &:hover {
    background-color: #5596f6;
    box-shadow: 0 4px 15px rgba(#5596f6, 0.4);
  }
}