.taskListDisplay {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex: 1;
  overflow-y: auto;
}

.emptyListText {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: gray;
  font-family: $main-font;
  font-size: 20px;
}