.editNoteContent {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

.leftGroup {
  display: flex;
  align-items: center;
}

.stopEditingBtn {
  height: 30px;
  width: 30px;
  @include button-reset;
  cursor: pointer;
  margin-right: 10px;
  &:hover {
    svg {
      path {
        stroke: black;
      }
    }
  }

}

.selectedNotesCount {
  font-family: $main-font;
  font-size: 20px;
}

.editTools {
  display: flex;
  align-items: center;
}

.editNoteBtn {
  @include button-reset;
  @include flex-center;
  padding: 0.3rem;
  background: rgba(192, 192, 192, 0.5);
  border-radius: 0.6rem;
  cursor: pointer;
  margin-right: 0.6rem;

  &:hover {
    background-color: rgba(192, 192, 192, 0.8);
  }
}
