.editNoteContent {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.leftGroup {
  display: flex;
  align-items: center;
}

.stopEditingBtn {
  @include btn-reset;
  @include flex-center;
  padding: 6px;
  cursor: pointer;
  margin-right: 10px;
  border-radius: 10px;
  
  &:hover {
    background-color: rgba(192, 192, 192, 0.2);
  }
}

.selectedNotesCount {
  font-family: var(--main-font);
  font-size: 20px;
}

.editTools {
  display: flex;
  align-items: center;
}

.editNoteBtn {
  @include btn-reset;
  @include flex-center;
  padding: 6px;
  // background: rgba(192, 192, 192, 0.5);
  border-radius: 10px;
  margin-right: 10px;
  cursor: pointer;

  &:hover {
    background-color: rgba(192, 192, 192, 0.2);
  }
}

.inactive {
  opacity: 0.5;
  cursor: default;

  &:hover {
    background: rgba(192, 192, 192, 0.5);
  }
}
