.editNoteContent {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.leftGroup {
  display: flex;
  align-items: center;
}

.stopEditingBtn {
  @include button-reset;
  @include flex-center;
  padding: 0.3rem;
  cursor: pointer;
  margin-right: 0.6rem;
  border-radius: 0.6rem;
  
  &:hover {
    background-color: rgba(192, 192, 192, 0.8);
  }
}

.selectedNotesCount {
  font-family: $main-font;
  font-size: 1.4rem
}

.editTools {
  display: flex;
  align-items: center;
}

.editNoteBtn {
  @include button-reset;
  @include flex-center;
  padding: 0.3rem;
  background: rgba(192, 192, 192, 0.5);
  border-radius: 0.6rem;
  cursor: pointer;
  margin-right: 0.6rem;

  &:hover {
    background-color: rgba(192, 192, 192, 0.8);
  }
}
