.notesSelectedContent {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.sideSection {
  display: flex;
  align-items: center;
}

.stopSelectingBtn {
  @include square-svg-btn;
  margin-right: 10px;
}

.restoreNoteBtn {
  @include square-svg-btn;
  margin-right: 10px;
}

.dropdownContainer {
  position: relative;
}

.moreBtn {
  @include square-svg-btn;
}
