.noteItem {
  width: 100%;
  display: flex;
  border: 2px solid var(--color-border-note);
  border-radius: 14px;
  background-color: var(--color-note-bg-default);
  cursor: pointer;
  padding: 10px;
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}

.colorable {
  border: 0;
}

.selected {
  border: 4px solid var(--color-interactive);
  box-shadow: 
  inset 0 0 10px var(--color-border-editable-note),
  0 0 10px var(--color-border-editable-note);
  border-radius: 14px;
}

.noteContent {
  min-height: 60px;
  max-height: 160px;
  width: 100%;
  display: flex;
  flex-direction: column;
  word-break: break-word;
  overflow: hidden;
  color: var(--color-text-note);
}

.title {
  font-size: 18px;
  font-weight: 600;
}

.mainText {
  margin-right: 10px;
  ol {
    margin-left: 10px;
    padding-left: 10px;
  }
}

.selectBtn {
  width: 36px;
  height: 36px;
  border-radius: 8px;
  background-color: rgba(192, 192, 192, 0.5);
  @include flex-center;
  align-self: center;

  &:hover {
    background-color: rgba(192, 192, 192, 0.7);
  }
  svg {
    width: 27px;
    height: 27px;
  }
}
