$primary-color: #5596f6;
$text-color: #1c1c1c;
$subtitle-color: #6a6a6a;
$card-line-color: #f0f0f0;

.landingPageMain {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex: 1;
  overflow-y: auto;
  @include flex-center;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 60px;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 20px;
  }
}

.subtitle {
  font-size: 20px;
  margin-bottom: 40px;
}

.button {
  display: inline-block;
  padding: 15px 30px;
  background-color: $primary-color;
  color: white;
  text-decoration: none;
  font-weight: 600;
  border-radius: 8px;
  font-size: 18px;
  transition: background-color 0.2s, box-shadow 0.3s ease-out;
  &:hover {
    background-color: darken($primary-color, 6);
    box-shadow: 0 4px 15px rgba($primary-color, 0.4);
  }
}