.notePageMain {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-top: var(--header-height);
}

.titleInput {
  @include input-reset;
  font-size: 20px;
  color: var(--color-text-note);
  padding: 12px 15px;
  &::placeholder {
    color: rgba(255, 255, 255, 0.5);
  }
}

.quill {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  
  :global(.ql-toolbar) {
    order: 2;
    flex-shrink: 0; 

    &:global(.ql-snow) {
      border: 0;
    }

    button {
      width: 30px !important;
      height: 30px !important;
      display: flex !important;
      justify-content: center;
      align-items: center;
      padding: 0 !important;
      border-radius: 8px;
      margin-right: 4px;

      svg {
        width: 20px !important;
        height: 20px !important;
      }

      :global(.ql-fill) {
        fill: var(--color-text-note) !important;
      }

      :global(.ql-stroke) {
        stroke: var(--color-text-note) !important;
      }
    }

    :global(button.ql-active) {
      background: var(--color-bg-surface);
    }

  }

  :global(.ql-container) {
    order: 1;
    flex-grow: 1;
    border-top: none;
    overflow-y: auto; 
    height: 0;

    &:global(.ql-snow) {
      border: 0;
    }

  }
  
  :global(.ql-editor) {
    min-height: 100%;
    font-size: 16px;
    &::before {
      color: rgba(255, 255, 255, 0.5) !important;
    }

  }
}