.searchedNotesEditingContent {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.leftGroup {
  display: flex;
  align-items: center;
}

.stopEditingBtn {
  @include btn-reset;
  height: 30px;
  width: 30px;
  cursor: pointer;
  margin-right: 10px;

  &:hover {
    svg {
      path {
        stroke: black;
      }
    }
  }

}

.selectedNotesCount {
  font-size: 20px;
}

.editTools {
  display: flex;
  align-items: center;
}

.openColorModalBtn {
  @include btn-reset;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-right: 2px;
  
  &:hover {
    background: rgba(192, 192, 192, 0.433);
    border-radius: 50%;
  }
}

.deleteNoteBtn {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  &:hover {
    background: rgba(192, 192, 192, 0.433);
    border-radius: 50%;
  }
}