@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin btn-reset {
  background: none;
  border: none;
  color: inherit;
  font: inherit;
}

@mixin input-reset {
  appearance: none;
  border: none;
  outline: none;
  background: none;
  box-shadow: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  width: auto;
  border-radius: 0;
  
  &:hover,
  &:focus,
  &:active {
    border: none;
    outline: none;
    box-shadow: none;
    background: none;
  }
}

@mixin link-reset {
  color: inherit;
  text-decoration: none;
}

@mixin square-header-svg-btn {
  @include btn-reset;
  @include flex-center;
  width: 35px;
  height: 35px;
  border-radius: 8px;
  cursor: pointer;
  background: var(--color-block-surface);

  svg {
    width: 25px;
    height: 25px;
  }

  &:hover {
    background: var(--color-hover-block-surface);
  }
}