@use './themes-variables';
@use './scrollbar';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $main-font;
  background-color: var(--color-bg-primary);
}

#root {
  height: 100vh;
}