@use './themes-variables';
@use './scrollbar';
@use './variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--main-font);
  color: var(--color-text-interface);
  background-color: var(--color-bg-primary);
}

#root {
  height: 100vh;
}