::-webkit-scrollbar {
  width: 15px; 
}

::-webkit-scrollbar-track {
  background: transparent; 
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-bg-surface); 
  border-radius: 8px;
  border: 4px solid transparent; 
  background-clip: content-box; 
}